body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.btn {
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: darkorchid;
  box-shadow: 5px 5px 10px black;
}

header p {
  font-size: 20px;
  font-weight: bold;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
  font-size: 40px;
}

#description {
  font-size: 26px;
  margin: 15px;
  padding: 15px;
}

#startbtn {
  padding: 10px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid gray;
  padding: 10px;
  margin: 0 20px;
}

.questquest {
  font-size: 40px;
}

.qlist {
  padding: 10px;
  margin: 10px;
  font-size: 26px;
}

/* style for the correct wrong msg */
.correct-wrong {
  padding: 10px;
  font-size: 26px;
  text-align: center;
}
